/**
    @author:Emmario Delar

    -- AIDE --
    Vous pouvez activez le backgroud pour avoir une meilleur comprehension de ce cpurs
**/

*{
    /*
      on retire sur tout les element de la page html la marge et le padding
    */
    margin: 0;
    padding: 0;
}
body{
    /*
      afin de garder des moyen de calcul simple sur le css on introduit un body de largeur 100% et de hauteur 100vh
      il s'agit d'un ecran complet sans scrolle quelque soit la plateform
    */
    width: 100%;
    height: 100%;
    //background: red;
}
.profile_picture{
    width: 50%;
    height: 200px;
    background: yellow;
    margin-left: 25%;
}
.profile_animated{
    transform: translateY(calc(100vh - 200px));
    position: absolute;
    //bottom: 0;
    transition: transform 10s ease-out;
}
